@media screen and (max-width: 829px){
  header .container{
    display: flex;
    flex-direction: column; /*vai jogar para baixo*/
  }

  .play{
    margin-top: 0.3125rem;
    width: 18.75rem;
    
  }
}

@media screen and (min-width: 1000px){
  .description{
    width: 40%;
  }
}